.banner{

}
.header{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 30px;
  height: 100%;

}

.Winter{
  background-image: url('../images/winter.jpeg');
  background-size:contain;
  color:#1f295c;
  align-self: flex-start;
}

.Summer{
  background-image: url('../images/summer.jpeg');
  background-size: cover;
  color: #FCFAFF;
  font-weight: bolder;
}

.Spring{
  background-image: url('../images/spring.jpeg');
  background-size: cover;
  color: #FCFAFF;
  font-weight: bolder;
}

.Autumn{
  background-image: url("../images/autumn_.jpeg");
  background-size: cover;
  background-color: #F39237;
  color: #FCFAFF;
  font-weight: bolder;
}
