body {
  padding:0;
  margin:0;
  font-family: Roboto;
  color: dark-blue;
  font-style:normal;
  font-size: 18px;
  color:#1f295c
  background-color: #c7c8c7;

}

button{
width: 30px;
height: 30px;
border-radius:50%;
background-size: 100%;
}



.grid-container{
  padding-top: 30px;
  padding: 15px;
  background-color: #c7c8c7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-div{


  padding: 20px;
  min-height:250px;

}
.image-div{

  padding: 20px;
  border-radius: 15%;
}
.vocab-item-image {
  height: 200px;
  width: 200px;
  border-radius: 15%;
}

.vocab-item-image:hover{
  cursor:pointer;

}
.vocab-item-name{
  margin:0;
}

.nameDiv{

  flex-direction: row;
  justify-content: space-evenly;

}
