body {
  padding:0;
  margin:0;
  font: comic;
  font-style: normal;
  color:#1c0022;
  background-color: #fcfcf7;

}

button{
width: 50px;
height: 50px;
border-radius:50%;
background-size: 100%;
}

.banner{
min-height: 200px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-div{
  display: flex;
  background-color: white;
  padding: 20px;
  /* min-height:200px; */

}

.vocab-item-image {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.nameDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
