.main-container{
  background-color: #0E79B2;
}
.bar-container{
  display:flex;
  width:100%;

}
.nav-container{
  display:flex;
  width: 100%;


}
.navbar {

  padding:0;
  margin:0;
  background-color: #0E79B2;
  font-family: Roboto;
  display:flex;
  list-style: none;
  text-decoration: none;
  color: white;
  width: 100%;
  align-items: center;
  justify-content:space-between;
}

.navbar ul {
    width: 20%;
    float: left;
    display:flex;
    justify-content: flex-end;
}


.top-level {
    float: left;
    overflow: hidden;
}

.top-level {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding-left: 2%;
    font-family: Roboto;
    margin: 0;
    width:30%;
}

#no-hover{
  display: flex;
  justify-content: flex-end;
  margin:0;
  padding:0;
  background-color: #0E79B2;
  width:20%;
  padding-left: 10%;

}
#headphone-image{
  background-color: #0E79B2;
  margin:0;
  padding-left: 15px;
  width:50px;
  height: auto;
  display:flex;
  justify-content: flex-end;

}


#no-hover li{
  background-color: #0E79B2;
  list-style: none;
}

#home-image{
  background-color: #0E79B2;
  margin:0;
  padding-left: 15px;
  width:40px;
  height: auto;
  display:flex;
  justify-content: flex-end;
}

/*
#headphone-image{
  width: 20px;
  height: auto;
}

ul li{
  list-style: none;
}

.navbar{
  margin: 0;
      padding: 0;
      background-color: #F39237;
      position: absolute;
      height: 50px;
      width: 100%;
} */
